<footer className="page-footer font-small stylish-color-dark pt-4">
  <div className="bg-dark text-white mt-5 p-4 text-center">
  © 2018 Copyright:
      <a href="http://www.ruet.ac.bd" rel="noopener noreferrer"> RUET</a>
    </div>
  </footer>