<div id="navbar">    
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" style="color:black" href="#">RUET GRANT COMMISSION</a>
            </div>
            
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a style="color:black" href="/">Home</a></li>
                    <li><a style="color:black" href="/">About</a></li>
                  
                    <li class="dropdown">
                      <a style="color:black" href="#" class="dropdown-toggle" data-toggle="dropdown">Insert <b class="caret"></b></a>  
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">ECE Faculty</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/eeeadmin">EEE</a></li>
                                    <li><a href="/cseadmin">CSE</a></li>
                                    <li><a href="/eteadmin">ETE</a></li>
                                    <li><a href="/eceadmin">ECE</a></li>
                                </ul>
                            </li>
                          
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">ME Faculty</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/meadmin">ME</a></li>
                                    <li><a href="/ipeadmin">IPE</a></li>
                                    <li><a href="/gceadmin">GCE</a></li>
                                    <li><a href="/mteadmin">MTE</a></li>
                                    <li><a href="/mseadmin">MSE</a></li>
                                    <li><a href="/cfpeadmin">CFPE</a></li> 
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CE Faculty</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/ceadmin">CE</a></li>
                                    <li><a href="/urpadmin">URP</a></li>
                                    <li><a href="/becmadmin">BECM</a></li>
                                    <li><a href="/archiadmin">ARCHI</a></li> 
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">ASH Faculty</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/humadmin">HUM</a></li>
                                    <li><a href="/mathadmin">MATH</a></li>
                                    <li><a href="/physicsadmin">PHYSICS</a></li>
                                    <li><a href="/chemistryadmin">CHEMISTRY</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">OTHERS</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/halladmin">HALL</a></li>
                                    <li><a href="/accountsectionadmin">ACCOUNT</a></li>
                                    <li><a href="/commiteadmin">COMMITE</a></li>
                                    <li><a href="/libraryadmin">LIBRARY</a></li>
                                    <li><a href="/computercentreadmin">COMPUTER</a></li>
                                    <li><a href="educationsectionadmin">EDUCATION</a></li>
                                    <li><a href="/foundationsectionadmin">FOUNDATION</a></li>
                                    <li><a href="/engineeringsectionadmin">ENGINEERING</a></li>
                                </ul>
                            </li>                                                         
                        </ul>
                    </li>
                    <li>
                        <form action="/session" method="GET" class="navbar-form navbar-search" role="search" >
                        <div class="input-group">
                            <select class="selectpicker" name="session">
                              <option value="2016">2016</option>
                              <option value="2017">2017</option>
                            </select>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-search btn-info">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span class="label-icon">Search</span>
                                </button>
                            </div>
                        </div>  
                       </form>   
                    </li>   
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>    