<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/public/style.css">
   <style>
    	.table1 tr th input{
    		resize: horizontal;
    		width: 110px;
    	}
    	.table2 tr th input{
          width: 200px;
    	}
    	.table3 tr th input{
    		width: 200px;
    	}
    	.table4 tr th input{
    		resize: horizontal;
    		width: 100px;
    	}
    </style>
</head>
<body>
 <div class="topnav">
  <ul>
    <li><a class="active" href="/educationsection">insert</a></li>
    <li>
      <form action="/educationsectiondata" method="GET">
        <input type="number" name="educationsectionsession" placeholder="সাল..">
        <button type="submit" value="search">search</button>
      </form>
    </li>   
    <li><a class="active" href="/educationsectionlogout">logout</a></li>
  </ul>
 </div> 
<div class="form">
<form action="/educationsectionnew" method="post">
<p> সালঃ<input type="number" name="session"></p>

<h3>বিদেশী শিক্ষার্থীঃ </h3> 
<h3>ছাত্রঃ<input type="number" name="cseforeignbscmalestudent"> ছাত্রীঃ<input type="number" name="cseforeignbsctfemalestudent"></h3>
<table border="1" width="900" align="center" class="table1">
<tr>
    <th rowspan="2">ক্রমিক নং</th>
    <th rowspan="2">লিঙ্গ(ছেলে/মেয়ে)</th>
    <th rowspan="2">অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th rowspan="2">বিভাগ</th>
	<th rowspan="2">ডিগ্রি</th>
	<th rowspan="2">দেশের নাম</th>
	<th colspan="2">শিক্ষার্থীর অধ্যয়ন ব্যয়</th>
</tr>
<tr>
	<th>বৃত্তি</th>
	<th>নিজ</th>	
</tr>
<tr>
    <th>০১</th>
    <th><input type="text" name="gender1"></th>
	<th><input type="text" name="faculty1"></th>
	<th><input type="text" name="department1"></th>
	<th><input type="text" name="degree1"></th>
	<th><input type="text" name="foreignstudentcountry1"></th>
	<th><input type="text" name="foreignschoolarshipbscstudent1"></th>
	<th><input type="text" name="foreignownexpensebscstudent1"></th>
</tr>
<tr>
    <th>০২</th>
    <th><input type="text" name="gender2"></th>
	<th><input type="text" name="faculty2"></th>
	<th><input type="text" name="department2"></th>
	<th><input type="text" name="degree2"></th>
	<th><input type="text" name="foreignstudentcountry2"></th>
	<th><input type="text" name="foreignschoolarshipbscstudent2"></th>
	<th><input type="text" name="foreignownexpensebscstudent2"></th>
</tr>
<tr>
    <th>০৩</th>
    <th><input type="text" name="gender3"></th>
	<th><input type="text" name="faculty3"></th>
	<th><input type="text" name="department3"></th>
	<th><input type="text" name="degree3"></th>
	<th><input type="text" name="foreignstudentcountry3"></th>
	<th><input type="text" name="foreignschoolarshipbscstudent3"></th>
	<th><input type="text" name="foreignownexpensebscstudent3"></th>
</tr>
<tr>
    <th>০৪</th>
    <th><input type="text" name="gender4"></th>
	<th><input type="text" name="faculty4"></th>
	<th><input type="text" name="department4"></th>
	<th><input type="text" name="degree4"></th>
	<th><input type="text" name="foreignstudentcountry4"></th>
	<th><input type="text" name="foreignschoolarshipbscstudent4"></th>
	<th><input type="text" name="foreignownexpensebscstudent4"></th>
</tr>
<tr>
    <th>০৫</th>
    <th><input type="text" name="gender5"></th>
	<th><input type="text" name="faculty5"></th>
	<th><input type="text" name="department5"></th>
	<th><input type="text" name="degree5"></th>
	<th><input type="text" name="foreignstudentcountry5"></th>
	<th><input type="text" name="foreignschoolarshipbscstudent5"></th>
	<th><input type="text" name="foreignownexpensebscstudent5"></th>
</tr>
<tr>
    <th>০৬</th>
    <th><input type="text" name="gender6"></th>
	<th><input type="text" name="faculty6"></th>
	<th><input type="text" name="department6"></th>
	<th><input type="text" name="degree6"></th>
	<th><input type="text" name="foreignstudentcountry6"></th>
	<th><input type="text" name="foreignschoolarshipbscstudent6"></th>
	<th><input type="text" name="foreignownexpensebscstudent6"></th>
</tr>
<tr>
    <th>0৭</th>
    <th><input type="text" name="gender7"></th>
	<th><input type="text" name="faculty7"></th>
	<th><input type="text" name="department7"></th>
	<th><input type="text" name="degree7"></th>
	<th><input type="text" name="foreignstudentcountry7"></th>
	<th><input type="text" name="foreignschoolarshipbscstudent7"></th>
	<th><input type="text" name="foreignownexpensebscstudent7"></th>
</tr>
</table>
<br>

<h3>ড্রপ আউটের হারঃ </h3> 
<table border="1" width="900" align="center" class="table2">
	<tr>
		<th rowspan="2">ক্রমিক নং</th>
		<th rowspan="2">অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	    <th rowspan="2">বিভাগ</th>
	    <th colspan="2">শতকরা হার</th>
	</tr>
	<tr>
		<th>ছাত্র</th>
		<th>ছাত্রী</th>
	</tr>
	<tr>
		<th>০১</th>
		<th><input type="text" name="dropoutfaculty1"></th>
		<th><input type="text" name="dropoutdepartment1"></th>
		<th><input type="text" name="dropoutmalestudent1"></th>
		<th><input type="text" name="dropoutfemalestudent1"></th>
	</tr>
	<tr>
		 <th>০২</th>
		<th><input type="text" name="dropoutfaculty2"></th>
		<th><input type="text" name="dropoutdepartment2"></th>
		<th><input type="text" name="dropoutmalestudent2"></th>
		<th><input type="text" name="dropoutfemalestudent2"></th>
	</tr>
	<tr>
		<th>০৩</th>
		<th><input type="text" name="dropoutfaculty3"></th>
		<th><input type="text" name="dropoutdepartment3"></th>
		<th><input type="text" name="dropoutmalestudent3"></th>
		<th><input type="text" name="dropoutfemalestudent3"></th>
	</tr>
	<tr>
		<th>০৪</th>
		<th><input type="text" name="dropoutfaculty4"></th>
		<th><input type="text" name="dropoutdepartment4"></th>
		<th><input type="text" name="dropoutmalestudent4"></th>
		<th><input type="text" name="dropoutfemalestudent4"></th>
	</tr>
	<tr>
		<th>০৫</th>
		<th><input type="text" name="dropoutfaculty5"></th>
		<th><input type="text" name="dropoutdepartment5"></th>
		<th><input type="text" name="dropoutmalestudent5"></th>
		<th><input type="text" name="dropoutfemalestudent5"></th>
	</tr>
</table><br>

<h3>বিনাবেতনে ও বৃত্তিপ্রাপ্ত শিক্ষার্থীর বিবরণঃ</h3>
<table border="1" width="900" align="center" class="table3">
	<tr>
		<th>বিবরণ</th>
		<th>ছাত্র</th>
		<th>ছাত্রী</th>
	</tr>
	<tr>
		<th>বিনাবেতনে অধ্যায়ন্রত শিক্ষার্থী</th>
		<th><input type="number" name="fullfreemalestudent"></th>
		<th><input type="number" name="fullfreefemalestudent"></th>
	</tr>
	<tr>
		<th>স্কলারশিপ ও ফেলশিপ প্রাপ্ত শিক্ষার্থীর সংখ্যা</th>
		<th><input type="number" name="schoolarshipandfeloshipmalestudent"></th>
		<th><input type="number" name="schoolarshipandfeloshipfemalestudent"></th>
	</tr>
	<tr>
		<th>স্কলারশিপ</th>
		<th><input type="number" name="schoolarshipmalestudent"></th>
		<th><input type="number" name="schoolarshipfemalestudent"></th>
	</tr>
	<tr>
		<th>ফেলশিপ</th>
		<th><input type="number" name="feloshipmalestudent"></th>
		<th><input type="number" name="feloshipfemalestudent"></th>
	</tr>
	<tr>
		<th>অন্যান্য বৃত্তি</th>
		<th><input type="number" name="otherschoolarshipmalestudent"></th>
		<th><input type="number" name="otherschoolarshipfemalestudent"></th>
	</tr>
</table><br>

<h3>জানুয়ারী থেকে ডিসেম্বরের মধ্যে বিশ্ববিদ্যালয়ের ডিগ্রিপ্রাপ্ত শিক্ষার্থীর পরিসংখানঃ</h3>
<table border="1" width="900" align="center" class="table4">
	<tr>
		<th rowspan="2">ডিগ্রির নাম</th>
		<th rowspan="2">বিষয়</th>
		<th rowspan="2">সেশন</th>
		<th colspan="2">পরীক্ষার্থীর সংখ্যা</th>
		<th colspan="2">উত্তীর্ণ</th>
		<th rowspan="2">শতকরা হার</th>
	</tr>
	<tr>
		<th>ছাত্র</th>
		<th>ছাত্রী</th>
		<th>ছাত্র</th>
		<th>ছাত্রী</th>
	</tr>
	<tr>
		<th>স্নাতক(সম্মান)</th>
		<th>বি এসসি(সম্মান)</th>
		<th><input type="text" name="bscpasssession"></th>
		<th><input type="number" name="bscadmitmalestudent"></th>
		<th><input type="number" name="bscadmitfemalestudent"></th>
		<th><input type="number" name="bscpassmalestudent"></th>
		<th><input type="number" name="bscpassfemalestudent"></th>
		<th><input type="text" name="percentageofbscpass"></th>
	</tr>
	<tr>
		<th>মাস্টার্স</th>
		<th>এম এসসি</th>
		<th><input type="text" name="mscpasssession"></th>
		<th><input type="number" name="mscadmitmalestudent"></th>
		<th><input type="number" name="mscadmitfemalestudent"></th>
		<th><input type="number" name="mscpassmalestudent"></th>
		<th><input type="number" name="mscpassfemalestudent"></th>
		<th><input type="text" name="percentageofmscpass"></th>
	</tr>
	<tr>
		<th>এম ফিল</th>
		<th>এম.ফিল</th>
		<th><input type="text" name="mfilpasssession"></th>
		<th><input type="number" name="mfiladmitmalestudent"></th>
		<th><input type="number" name="mfiladmitfemalestudent"></th>
		<th><input type="number" name="mfilpassmalestudent"></th>
		<th><input type="number" name="mfilpassfemalestudent"></th>
		<th><input type="text" name="percentageofmfilpass"></th>
	</tr>
	<tr>
		<th>পিএইচ ডি</th>
		<th>পিএইচ.ডি</th>
		<th><input type="text" name="phdpasssession"></th>
		<th><input type="number" name="phdadmitmalestudent"></th>
		<th><input type="number" name="phdadmitfemalestudent"></th>
		<th><input type="number" name="phdpassmalestudent"></th>
		<th><input type="number" name="phdpassfemalestudent"></th>
		<th><input type="text" name="percentageofphdpass"></th>
	</tr>
</table>
<br>
<button type="submit">submit</button>
</form>
<br>
</div>
</body>
</html>