<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="/public/style.css">
	
</head>
<body>
 <div class="topnav">
  <ul>
    <li><a class="active" href="/eee">insert</a></li>
    <li>
      <form action="/eeedata" method="GET">
        <input type="number" name="eeesession" placeholder="সাল..">
        <button type="submit" value="search">search</button>
      </form>
    </li>   
    <li><a class="active" href="/eeelogout">logout</a></li>
  </ul>
</div>   
<div class="form">
<form action="/eeenew" method="post">
<p> সালঃ<input type="number" name="session"></p>

<h3>তড়িৎ ও ইলেকট্রনিক প্রকৌশল বিভাগের শিক্ষার্থীঃ</h3>
<table border="1" width="900" align="center" class="table1">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>ডিগ্রি</th>
	<th>মোট আসন সংখা</th>
	<th colspan="2">ভর্তিকৃত শিক্ষার্থীর সংখ্যা</th>
</tr>

<tr>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
	<th>ছাত্র</th>
	<th>ছাত্রী</th>
</tr>
<tr>
	<th rowspan="4">তড়িৎ ও কম্পিউটার কৌশল অনুষদ </th>
	<th rowspan="4">তড়িৎ ও ইলেকট্রনিক প্রকৌশল বিভাগ</th>
	<th>বিএসসি ইঞ্জিনিয়ারিং(স্নাতক)</th>
	<th><input type="number" name="eeetotalbscstudent"></th>
	<th><input type="number" name="eeemalebscstudent"></th>
	<th><input type="number" name="eeefemalebscstudent"></th>
</tr>
<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="eeetotalmscstudent"></th>
	<th><input type="number" name="eeemalemscstudent"></th>
	<th><input type="number" name="eeefemalemscstudent"></th>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<th><input type="number" name="eeetotalmfilstudent"></th>
	<th><input type="number" name="eeemalemfilstudent"></th>
	<th><input type="number" name="eeefemalemfilstudent"></th>
</tr>

<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="eeetotalphdstudent"></th>
	<th><input type="number" name="eeemalephdstudent"></th>
	<th><input type="number" name="eeefemalephdstudent"></th>
</tr>
</table>
<br><br>

<h3>তড়িৎ ও ইলেকট্রনিক প্রকৌশল বিভাগের শিক্ষার্থী(বিদেশী শিক্ষার্থীসহ)</h3>
<table border="1" width="900" align="center" class="table1">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>ডিগ্রি</th>
	<th colspan="2">ভর্তিকৃত শিক্ষার্থীর সংখ্যা</th>
</tr>

<tr>
	<th></th>
	<th></th>
	<th></th>
	<th>ছাত্র</th>
	<th>ছাত্রী</th>
</tr>
<tr>
	<th rowspan="4">তড়িৎ ও কম্পিউটার কৌশল অনুষদ </th>
	<th rowspan="4">তড়িৎ ও ইলেকট্রনিক প্রকৌশল বিভাগ</th>
	<th>বিএসসি ইঞ্জিনিয়ারিং(স্নাতক)</th>
	<th><input type="number" name="eeeforeignmalebscstudent"></th>
	<th><input type="number" name="eeeforeignfemalebscstudent"></th>
</tr>
<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="eeeforeignmalemscstudent"></th>
	<th><input type="number" name="eeeforeignfemalemscstudent"></th>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<th><input type="number" name="eeeforeignmalemfilstudent"></th>
	<th><input type="number" name="eeeforeignfemalemfilstudent"></th>
</tr>

<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="eeeforeignmalephdstudent"></th>
	<th><input type="number" name="eeeforeignfemalephdstudent"></th>
</tr>
</table>
<br><br>


<h3>তড়িৎ ও ইলেকট্রনিক প্রকৌশল বিভাগের ডিগ্রিভিত্তিক শিক্ষকদের পরিসংখ্যানঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th rowspan="2">ডিগ্রি</th>
	<th colspan="2">পূর্ণকালিন  শিক্ষক সংখ্যা</th>
	<th colspan="2">খন্ডকালিন  শিক্ষক সংখ্যা</th>
</tr>
<tr>
	<th>পুরুষ</th>
	<th>মহিলা</th>
	<th>পুরুষ</th>
	<th>মহিলা</th>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<th><input type="number" name="eeefulltimemfilmaleteacher"></th>
	<th><input type="number" name="eeefulltimemfilfemaleteacher"></th>
	<th><input type="number" name="eeeparttimemfilmaleteacher"></th>
	<th><input type="number" name="eeeparttimemfilfemaleteacher"></th>
</tr>

<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="eeefulltimephdmaleteacher"></th>
	<th><input type="number" name="eeefulltimephdfemaleteacher"></th>
	<th><input type="number" name="eeeparttimephdmaleteacher"></th>
	<th><input type="number" name="eeeparttimephdfemaleteacher"></th>
</tr>

<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="eeefulltimemscmaleteacher"></th>
	<th><input type="number" name="eeefulltimemscfemaleteacher"></th>
	<th><input type="number" name="eeeparttimemscmaleteacher"></th>
	<th><input type="number" name="eeeparttimemscfemaleteacher"></th>
</tr>

<tr>
	<th>স্নাতক/স্নাতক(সম্মান)</th>
	<th><input type="number" name="eeefulltimebscmaleteacher"></th>
	<th><input type="number" name="eeefulltimebscfemaleteacher"></th>
	<th><input type="number" name="eeeparttimebscmaleteacher"></th>
	<th><input type="number" name="eeeparttimebscfemaleteacher"></th>
</tr>

<tr>
	<th>অন্যান্য (যদি থাকে)</th>
	<th><input type="number" name="eeefulltimeothermaleteacher"></th>
	<th><input type="number" name="eeefulltimeotherfemaleteacher"></th>
	<th><input type="number" name="eeeparttimeothermaleteacher"></th>
	<th><input type="number" name="eeeparttimeotherfemaleteacher"></th>
</tr>
</table>
<br><br>

<h3>তড়িৎ ও ইলেকট্রনিক প্রকৌশল বিভাগের গবেষণা ও প্রকাশনাঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>গবেষণা/প্রকাশনা(প্রকাশিত ও অপ্রকাশিত) এর বিবরণ</th>
	<th>সংখ্যা</th>
</tr>
<tr>
	<th rowspan="10">তড়িৎ ও কম্পিউটার কৌশল অনুষদ </th>
	<th rowspan="10">তড়িৎ ও ইলেকট্রনিক প্রকৌশল বিভাগ</th>
	<th>নিজস্ব ও সরকারিখাতে অর্থায়নে পরিচালিত গবেষণা প্রকল্প </th>
	<th><input type="number" name="eeeresearch1"></th>
</tr>
<tr>
	<th>দেশের বিভিন্ন সরকারি ও বেসরকারি প্রতিষ্ঠানের আর্থিক সাহায্যে পরিচালিত গবেষণা প্রকল্প</th>
	<th><input type="number" name="eeeresearch2"></th>
</tr>
<tr>
	<th>বিদেশী সংস্থার সাহায্যে পরিচালিত গবেষণা প্রকল্প</th>
	<th><input type="number" name="eeeresearch3"></th>
</tr>
<tr>
	<th>মাস্টার্স পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="eeeresearch4"></th>
</tr>
<tr>
	<th>এমফিল পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="eeeresearch5"></th>
</tr>
<tr>
	<th>পিএইচডি পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="eeeresearch6"></th>
</tr>
<tr>
<th>পিয়ার রিভিউকৃত দেশী এবং বিদেশী সাময়িকীতে প্রকাশিত প্রবন্ধ Journal and Conference</th>
<th><input type="number" name="eeejournal" placeholder="Journal"><br>
	<input type="number" name="eeeconference" placeholder="Conference"></th>
</tr>
<tr>
	<th>প্রকাশিত পিয়ার রিভিউকৃত সাময়িকী</th>
	<th><input type="number" name="eeeresearch8"></th>
</tr>
<tr>
	<th>প্রকাশিত বই</th>
	<th><input type="number" name="eeeresearch9"></th>
</tr>
<tr>
	<th>প্রকাশিত ইলেকট্রনিক বই/সাময়িকী</th>
	<th><input type="number" name="eeeresearch10"></th>
</tr>
</table><br>
<button type="submit">submit</button>
</form>
<br>
</div>
</body>
</html>